
body{
	background-color:#003366;
}

/* Estilo formulário */

#camp1{
	width:30%;
	margin-left:500px;
	margin-top:220px;
}
/* Texto formulário */
strong{
	color:#fff;
}
 /* background formulário */

 